//Pagination
.pagination, .justify-content-center {
    text-align: center;
    padding: 30px;

    ul {
        list-style: none;

        li {
            display: inline-block;
            padding: 10px 0;
            &.active {
                background-color: #fcaf3b;
                font-weight: bold;
                text-decoration: none;
                height: 100%;
              }

            .current {
                background-color: #fcaf3b;
                font-weight: bold;
                text-decoration: none;
                height: 100%;
            }

            a {
                padding: 10px 20px;
                text-decoration: none;
                color: #000;
                opacity: 1;
                &:hover {
                    opacity: .8;
                    transition: all .3s ease;
                    background-color: #ccc;
                    border: 1px solid #000;
                }
            }

            .page-numbers {
                padding: 10px 20px;
                text-decoration: none;
                color: #000;
                opacity: 1;
                &:hover {
                    opacity: .8;
                    transition: all .3s ease;
                    background-color: #ccc;
                    border: 1px solid #000;
                }
            }
        }
    }

    .pagi-page {
        padding: 10px 20px;
        opacity: 1;
        &:hover {
            opacity: .8;
            transition: all .3s ease;
            background-color: #ccc;
            border: 1px solid #000;
        }
    }
}

